$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
html,
body,
div.container {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, pre {
    margin: 0;
    padding: 0;
}

.row,
.carousel,
.item,
.active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
    position: absolute;
    top: 45%;
    text-align: center;
}
.carousel-inner .item {
    -webkit-transition: opacity 
}
.carousel-inner h1 {
    color: white;
    text-transform: uppercase;
    font-family: "Playfair Display";
    font-size: 8.9vw;
    font-weight: bold;
}
.carousel-inner h1 span {
    color: #efa48d;
}
.fill {
    width: 100%;
    height: 100%;
    background-position: center;
     -webkit-background-size: cover;
        -moz-background-size: cover;
          -o-background-size: cover;
             background-size: cover;
}
.bg {
    background: url('../img/home_bg.jpg') center center no-repeat;
     -webkit-background-size: cover;
        -moz-background-size: cover;
          -o-background-size: cover;
             background-size: cover;
    background-attachment: fixed;
    height: 100%;
    background-color: #999;
    opacity: 1;
    z-index: -10;
}
.nav {
    display: none
}
header img {
    margin: 40px 5px;
}
/* FOR TABLETS (portrait) AND DESKTOPS (all)*/
@media only screen and (min-width: 768px) {
    .nav {
        display: inline-block;
        float: right;
        padding: 30px 20px;
        font-family: "Times New Roman";
        font-size: 20px;
        font-weight: lighter;
    }
    .nav li {
        display: inline-block;
        float: left;
        text-transform: uppercase;
    }
    .nav li a {
        color: #fff;
    }
    .carousel-inner h1 {
            font-size: 5.9vw;
    }
}